<div class='grid wide'>
    <nav class='header__navbar hide-on-mobile-tablet'>
        <ul class='header__navbar-list'>
            <li class='header__navbar-item header__navbar-item--seperate'>
                Cửa hàng bán đồ ăn nhanh số 1 Việt Nam
            </li>
        </ul>

        <ul class='header__navbar-list'>
            <li class='header__navbar-item header__navbar-item--has-notify'>
                <a href='' class='header__navbar-item-link'>
                    <i class='header__navbar-icon far fa-bell'></i>
                    Thông báo
                </a>
                <!-- Header Notify -->
                <div class='header__notify'>
                    <header class='header__notify-header'>
                        <h5>Thông Báo Mới Nhận</h5>
                    </header>
                    <ul class='header__notify-list'>
                        <li class='header__notify-item'>
                            <a href='' class='header__notify-link'>
                                <img
                                    src='https://cf.shopee.vn/file/ff889fc6f9b9c13703a01fcc53ca5f13_tn'
                                    alt=''
                                    class='header__notify-img'
                                />
                                <div class='header__notify-info'>
                                    <span class='header__notify-name'>Đã xác nhận thanh toán COD</span>
                                    <span class='header__notify-description'>Đơn hàng
                                        <span>211116NKMV1MFQ</span>
                                        đã được xác nhận. Vui lòng kiểm tra thời gian nhận hàng dự kiến trong phần chi
                                        tiết đơn hàng nhé!
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class='header__notify-item'>
                            <a href='' class='header__notify-link'>
                                <img
                                    src='https://cf.shopee.vn/file/375344619f5ea799f86226cd8c086103_tn'
                                    alt=''
                                    class='header__notify-img'
                                />
                                <div class='header__notify-info'>
                                    <span class='header__notify-name'>Giao kiện hàng thành công</span>
                                    <span class='header__notify-description'>Kiện hàng
                                        <span>VN215454804279P</span>
                                        của đơn hàng
                                        <span>211012MSN44T0H</span>
                                        đã giao thành công đến bạn.
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class='header__notify-item'>
                            <a href='' class='header__notify-link'>
                                <img
                                    src='https://cf.shopee.vn/file/3fdec808d9ef6befd689f244aa095c9f_tn'
                                    alt=''
                                    class='header__notify-img'
                                />
                                <div class='header__notify-info'>
                                    <span class='header__notify-name'>Chia sẻ nhận xét về sản phẩm</span>
                                    <span class='header__notify-description'>Đơn hàng
                                        <span>210505SQUPYDSQ</span>
                                        đã hoàn thành. Bạn hãy đánh giá sản phẩm trước ngày
                                        <span>28-05-2021</span>
                                        để nhận
                                        <span>200</span>
                                        xu và giúp người dùng khác hiểu hơn về sản phẩm nhé!
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <footer class='header__notify-footer'>
                        <a href='https://shopee.vn/shop/234984535/search' class='header__notify-footer-btn'>Xem tất cả</a>
                    </footer>
                </div>
            </li> 

            <li class='header__navbar-item header__navbar-user'>
                <img
                    src={{user.avatar}}
                    alt=''
                    class='header__navbar-user-img'
                />
                <span class='header__navbar-user-name'>{{user.fullname}}</span>

                <ul class='header__navbar-user-menu'>
                    <li class='header__navbar-user-item'>
                        <a href='/user/editProfile'>Thông tin của tôi</a>
                    </li>
                    <li class='header__navbar-user-item'>
                        <a href='/user/order'>Đơn mua</a>
                    </li>
                    <li class='header__navbar-user-item'>
                        <a href='/user/history'>Lịch sử</a>
                    </li>
                    <li class='header__navbar-user-item header__navbar-user-item--seperate'>
                        <a href='/deleteCookie'>Đăng xuất</a>
                    </li>
                </ul>
            </li> 
        </ul>
    </nav>

    <div class='header-with-search'>
        <label for="nav-mobile-input" class="header-menu">
            <i class="header-menu-icon fa-solid fa-bars"></i>
        </label>
        
        {{!-- Menu Mobile --}}
        <input type="checkbox" class="nav__input" id="nav-mobile-input">
        <div class="nav__overlay"></div>
        <label for="nav-mobile-input" class="nav__overlay"></label>
        
        <nav class="menu">
            <div class="nav__header">
                <div class="nav__header-item">
                    <a href="" class="nav__mobile-item-link">
                        <img src="./img/logo.png" alt="logo" class="nav__mobile-logo">
                    </a>
                </div>
                <label for="nav-mobile-input" class="nav__header-item">
                    <i class="nav__header-icon fa-solid fa-xmark"></i>
                </label>
            </div>
            <div class="nav__mobile-list">
                <li class="nav__mobile-item">
                    <ion-icon class="nav__mobile-icon" name="person-outline"></ion-icon>
                    <a href="/user/editProfile" class="nav__mobile-item-link">
                        Tài khoản
                    </a>
                </li>
                <li class="nav__mobile-item">
                    <ion-icon class="nav__mobile-icon" name="bag-remove-outline"></ion-icon>
                    <a href="/cart" class="nav__mobile-item-link">
                        Giỏ hàng
                    </a>
                </li>
                <li class="nav__mobile-item">
                    <ion-icon class="nav__mobile-icon" name="receipt-outline"></ion-icon>
                    <a href="/user/order" class="nav__mobile-item-link">
                        Đơn hàng
                    </a>
                </li>
                <li class="nav__mobile-item">
                    <ion-icon class="nav__mobile-icon" name="albums-outline"></ion-icon>
                    <a href="/user/history" class="nav__mobile-item-link">
                        Lịch sử đơn hàng
                    </a>
                </li>
                <div class="nav--seperate"></div>
                <li class="nav__mobile-item">
                    <ion-icon class="nav__mobile-icon" name="log-out-outline"></ion-icon>
                    <a href="/deleteCookie" class="nav__mobile-item-link">
                        Đăng xuất
                    </a>
                </li>
                <p class="menu-footer">Copyright © 2022 VKPA-STORE</p>
            </div>
        </nav>

        <div class='header__logo hide-on-tablet'>
            <!-- Nhấn logo đưa về trang chủ -->
            <a href='/user' class='header__logo-link'>
                <img src="https://cf.shopee.vn/file/d734f6291f072bb855371432da462d65" class='header__logo-img'>
                </img>
            </a>
        </div>

        <input type='checkbox' name='' hidden id='mobile-search-checkbox' class='header-search-checkbox' />

        <form action='/user/search' method='GET'>
            <div class='header__search'>
                <div class='header__search-input-wrap'>
                    <input type='text' name="text" class='header__search-input' placeholder='Nhập để tìm kiếm' />
                    <!-- Search History -->
                    {{!-- <div class='header__search-history'>
                        <div class='header__search-history-heading'>Lịch sử tìm kiếm</div>
                        <ul class='header__search-history-list'>
                            <li class='header__search-history-item'>
                                <a href=''>Dầu gội</a>
                            </li>
                            <li class='header__search-history-item'>
                                <a href=''>Nước hoa</a>
                            </li>
                            <li class='header__search-history-item'>
                                <a href=''>Sữa rửa mặt</a>
                            </li>
                        </ul>
                    </div> --}}
                </div>
                <button type="submit" class='header__search-btn'>
                    <i class='header__search-btn-icon fas fa-search'></i>
                </button>
            </div>
        </form>

        <label for='mobile-search-checkbox' class='header__mobile-search'>
            <i class='header__mobile-search-icon fas fa-search'></i>
        </label>

        <!-- Cart Layout -->
        <div class='header__cart hide-on-mobile'>
            <div class='header__cart-wrap'>
                <i class='header__cart-icon fas fa-shopping-cart'></i>
                <span class='header__cart-notice'>{{countFood}}</span>
                <div class='header__cart-list'>
                    <div class='header__cart-heading'>Sản phẩm đã thêm</div>
                    <ul class='header__cart-list-item'>
                        {{#each getFood}}
                            <a href="/cart">
                                <li class='header__cart-item'>
                                    <img
                                        src={{img}}
                                        alt={{name}}
                                        class='header__cart-img'
                                    />
                                    <div class='header__cart-item-info'>
                                        <div class='header__cart-item-head'>
                                            <h5 class='header__cart-item-name'>{{name}}
                                                K/DA</h5>
                                        </div>
                                        {{!-- <div class='header__cart-item-body'>
                                            <div class='header__cart-item-price-wrap'>
                                                <span class='header__cart-item-description'>
                                                    Số lượng:
                                                </span>
                                                <span class='header__cart-item-qnt'>1</span>
                                            </div>
                                            <span class='header__cart-item-remove'>Xóa</span>
                                        </div> --}}
                                    </div>
                                </li>
                            </a>
                        {{/each}}
                    </ul>
                    <h1>{{notifyEmpty}}</h1>
                    <a href='/cart' class='btn btn-primary header__cart-item-view-cart'>Xem giỏ hàng</a>
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- Header Sort Bar -->
<ul class='header__sort-bar'>
    <li class='header__sort-item header__sort-item--active'>
        <a href='/user' class='header__sort-link'>Tất cả</a>
    </li>
    <li class='header__sort-item'>
        <a href='/user/drink' class='header__sort-link'>Đồ uống</a>
    </li>
    <li class='header__sort-item'>
        <a href='/user/food' class='header__sort-link'>Món ăn</a>
    </li>
    <li class='header__sort-item'>
        <a href='/user/sidefood' class='header__sort-link'>Ăn kèm</a>
    </li>
</ul>