<div class='cart'>
    <div class='container'>
        <div class='cart-header'>
            <h1 class='create-header'>Giỏ Hàng Của Bạn ({{countFood}})</h1>
        </div>

        <div class='cart-body'>
            <div class='container'>
                <div class='row cart-heading'>
                    <div class='col-7'>
                        <div class='cart-wrap'>
                            <div class='cart-heading-name'>Ảnh</div>
                            <div class='cart-heading-name cart-wrap-item--right'>Tên</div>
                        </div>
                    </div>
                    <div class='col-5'>
                        <div class='cart-wrap'>
                            <div class='cart-heading-name'>Số lượng</div>
                            <div class='cart-heading-name cart-wrap-item--right'>Giá</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='cart-list'>
                <div class='container'>
                    <div class='row'>
                        <h1 class='notify-cart'>{{title}}</h1>
                        <div class='col-7'>
                            {{#each getFood}}
                                <div class='cart-wrap'>
                                    <div class='cart-wrap-item'>
                                        <img src={{img}} width='120' alt='' class='cart-img' />
                                    </div>
                                    <div class='cart-wrap-item cart-wrap-item--right'>
                                        <div class='cart-name' title='Designers Chair Vol.1'>{{name}}</div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class='col-5'>
                            {{#each getDetailCart}}
                                <div class='cart-wrap'>
                                    <div class='cart-wrap-item'>
                                        <input
                                            class='cart-quantity'
                                            type='number'
                                            value={{quantity}}
                                            max='10'
                                            min='1'
                                            data-id='{{_id}}'
                                            onchange='updatePrice(this)'
                                        />
                                    </div>
                                    <div class='cart-wrap-item'>
                                        <div class='cart-price'>{{price}}.000 </div>
                                    </div>
                                    <i class='cart-delete fa-solid fa-trash'></i>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class='cart-footer'>
                <div class='cart-total'>
                    <div class='cart-title-total'>Số lượng : <span>{{countTotal}}</span></div>
                    <div class='cart-title-total'>Tổng tiền : <span>{{cart_info.total}}.000 Đ</span></div>
                </div>
                <div class='cart-btn'>
                    <a href='/user' class='cart-next'>Tiếp tục mua sắm</a>
                    <a href='/cart/{{cart_info._id}}'>
                        <div class='cart-payment'>Đặt món</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>