<div class='cart-header'>
    <h1 class='create-header'>Lịch Sử Đơn Đặt ({{countOrder}})</h1>
</div>

<div class='form-detail'>
    <table id='table-history' class='table table-public--history' style='width:100%'>
        <thead>
            <tr>
                <th class='list-item-heading--table'>STT</th>
                <th class='list-item-heading--table hide-on-mobile'>Thời gian đặt</th>
                <th class='list-item-heading--table'>Tổng tiền</th>
                <th class='list-item-heading--table'>Phương thức</th>
                <th class='list-item-heading--table'>Trạng thái</th>
                <th class='list-item-heading--table'>Chi tiết</th>
            </tr>
        </thead>

        <tbody>
            {{#each listOrderUser}}
                <tr>
                    <td class='list-item-des'>{{sum @index 1}}</td>
                    <td class='list-item-des day_value hide-on-mobile'>{{createdAt}}</td>
                    <td class='list-item-des'>
                        <div class='price-wrap'>
                            <h4>{{total}}</h4>
                            <h4 class='number-total'>.000 đ</h4>
                        </div>
                    </td>
                    <td class='list-item-des'>{{payment_Method}}</td>
                    <td class='list-item-des'><div class='btn-status'>{{order_Status}}</div></td>
                    <td class='list-item-des'><a class='btn-detail' href='/history/{{_id}}/detail'>
                            {{! Nhấn để xem }}
                            Xem
                        </a></td>
                </tr>
            {{else}}
                <tr>
                    <div class='notify'> Chưa có đơn hàng nào. <a href='/user'>Quay lại danh sách.</a></div>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class='pill-title-item--purchase'>
    <h4 class='pill-charge'>Tổng chi tiêu:</h4>
    <div class='price-wrap'>
        <h4 class='pill-des-charge number-total-value'>{{totalOrder}}</h4>
        <h4 class='pill-des-charge'>.000 đ</h4>
    </div>
</div>