<div class='row sm-gutter app__content'>
    <!-- Danh Mục -->
    <div class='col l-2 m-0 c-0'>
        <nav class='category'>
            <h3 class='category__heading'>DANH MỤC</h3>
            <ul class='category-list'>
                <li class='category-item category-item--active'>
                    <a href='/user' class='category-item__link'>Tất cả</a>
                </li>
                <li class='category-item'>
                    <a href='/user/drink' class='category-item__link'>Đồ uống</a>
                </li>
                <li class='category-item'>
                    <a href='/user/food' class='category-item__link'>Món ăn</a>
                </li>
                <li class='category-item'>
                    <a href='/user/sidefood' class='category-item__link'>Ăn kèm</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Sản Phẩm -->
    <div class='col l-10 m-12 c-12'>
        <div class='home-product'>
            <div class='row sm-gutter'>
                <!-- Product Item -->
                {{#each foods}}
                    <div class='product-item col l-3 m-4 c-6'>
                        <div class='home-product-item'>
                            <input class='product-id' type='hidden' name='id_Food' value={{_id}} />
                            <input class='product-id' type='hidden' name='price' value={{price}} />
                            <img src='{{img}}' alt='' class='home-product-item__img' />
                            <h4 class='home-product-item__name'>{{name}}</h4>
                            <div class='home-product-item__price'>
                                <span class='home-product-item__price-title'>Giá :</span>
                                <span class='home-product-item__price-number'><span
                                        class='price-number'
                                    >{{price}}</span>.000 đ</span>
                            </div>
                            <div class='home-product-btn'>
                                <button class='btn btn-warning btn-add-cart'><span><ion-icon
                                            name='cart-outline'
                                        ></ion-icon></span>
                                    Thêm vào giỏ</button>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class='notify'>
            <h1>{{title}}</h1>
        </div>

        {{! Pagination }}
        {{! <ul class='pagination home-product__pagination'>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>
                    <i class='pagination-item__icon fas fa-chevron-left'></i>
                </a>
            </li>
            <li class='pagination-item pagination-item--active'>
                <a href='' class='pagination__link'>1</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>2</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>3</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>...</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>10</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>
                    <i class='pagination-item__icon fas fa-chevron-right'></i>
                </a>
            </li>
        </ul> }}
    </div>
</div>