<div class='payment'>
    <div class='container'>
        <div class='create-header cart-header'>Đơn hàng của bạn</div>
        <div class='process-order'>
            <div class='process-line'>
                <div class='process-sub-line'></div>
                <div class='process-des-item'>Chưa duyệt</div>
                <div class='process-des-item ml-25'>Đã duyệt</div>
                <div class='process-des-item ml-50'>Đang chuẩn bị</div>
                <div class='process-des-item ml-75'>Đang giao</div>
                <div class='process-des-item ml-full'>Hoàn tất</div>
            </div>
        </div>
        <input hidden id='value-state' value='{{stateOrder}}' />
        <h1 class='notify-cart'>{{title}}</h1>
        <div class='payment-body'>
            <div class='row'>
                <!-- Payment Product -->
                <div class='product-list-payment'>
                    <div class='product-payment-item'>
                        <div class='row'>
                            <div class='col-5 col-name'>
                                {{#each getFood}}
                                    <div class='product-payment-wrap'>
                                        <img src={{img}} class='product-payment-img' />
                                        <strong class='product-payment-name'>{{name}}</strong>
                                    </div>
                                {{/each}}
                            </div>
                            <div class='col-2 col-price' style='padding-right: 24px;'>
                                {{#each getDetailCart}}
                                    <div class='product-payment-wrap product-payment-wrap--right'>
                                        <strong class='product-payment-quantity'><strong>x</strong>
                                            {{quantity}}</strong>
                                        <strong class='product-payment-price'>{{price}}.000</strong>
                                    </div>
                                {{/each}}
                            </div>
                            <div class='col-5 payment-wrap'>
                                <form method='POST' action='/cart/payment'>
                                    <div class='payment-method'>
                                        <div class='payment-title'>Phương thức thanh toán</div>
                                        <div hidden class='value-type-payment'>{{getOrder.payment_Method}}</div>
                                        <label class='form-select-payment'>
                                            <div class='payment-check'>
                                                <input
                                                    type='radio'
                                                    name='payment_Method'
                                                    disabled
                                                    value='Momo'
                                                    checked
                                                />
                                                <span>Thanh toán qua ví Momo</span>
                                            </div>
                                        </label>
                                        <label class='form-select-payment'>
                                            <div class='payment-check'>
                                                <input type='radio' name='payment_Method' disabled value='Cash' />
                                                <span>Thanh toán khi nhận hàng</span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class='payment-total'>
                                        <div class='payment-total-title'>Tổng tiền: </div>
                                        <input type='hidden' name='total' value={{lastCart.total}} />
                                        <strong class='payment-total-number'>{{lastCart.total}}.000 Đ</strong>
                                    </div>
                                    <!-- Payment Info -->
                                    <div class='payment-button'>
                                        <a href='/cart'>
                                            <button class='btn btn-quit payment-quit'>↩ Quay lại</button>
                                        </a>
                                        <input hidden name='id_Cart' id='id_Cart' value={{lastCart._id}} />
                                        <input hidden name='confirm_Order' id='confirm_Order' value='Đã hủy' />
                                        <input hidden name='order_Status' id='order_Status' value='Đã hủy' />
                                        <input hidden name='state' id='state' value='false' />

                                        <button type='submit' class='btn btn-payment btn-cancel'>Hủy đơn</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>